html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
#root{
	
	
	height: 100vh;
}


/* Adicione estas regras no seu arquivo de estilo ou em um bloco <style> no seu arquivo JSX */

/* Cor sólida mais escura para a Pessoa 1 */
.pessoa1-evento {
	background-color: #C0392B !important; /* Cor mais escura para a Pessoa 1 */
	color: white !important; /* Garantir que o texto seja branco */
	background: #C0392B !important; /* Garante que não haja gradiente */
  }
  
  /* Cor sólida mais escura para a Pessoa 2 */
  .pessoa2-evento {
	background-color: #27AE60 !important; /* Cor mais escura para a Pessoa 2 */
	color: white !important; /* Garantir que o texto seja branco */
	background: #27AE60 !important; /* Garante que não haja gradiente */
  }
  
  /* Cor sólida mais escura para a Pessoa 3 */
  .pessoa3-evento {
	background-color: #2980B9 !important; /* Cor mais escura para a Pessoa 3 */
	color: white !important; /* Garantir que o texto seja branco */
	background: #2980B9 !important; /* Garante que não haja gradiente */
  }
  